body {
	font-family: "Times New Roman", Times, serif;
	background: lightblue;
}

body.index {
		text-align: center;
}

h1.book-title {
	display: inline-block;
}

.chapters li{
	list-style: none;
	text-align: center;
	display: block;
	margin: 0;
	padding: 0;
}

h2.chapter-name {
	font-style: italic;
}

img.cover-image {
	display: inline-block;
	float: none;
}

img.cover-image, .insert-image {
	height: 400px;
}
