body {
	font-family: "Times New Roman", Times, serif;
	background: lightblue;
}

h1.book-title {
	display: inline-block;
	text-align: justify;
}

.chapters li{
	list-style: none;
	display: block;

}

h2.chapter-name {
	font-style: italic;
}

img.cover-image {
	padding-right: 10px;
}

img.cover-image, .insert-image {
	height: 400px;
}
