header{
	background: slategray url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/English_Pok%C3%A9mon_logo.svg/269px-English_Pok%C3%A9mon_logo.svg.png") no-repeat;
	padding-top: 100px;
	display: flex;
}

.search {
	text-align: right;
	flex:1;
}

.pokeclass {
	background: skyblue;
	margin:0 auto;

}

div.pokeimage {
/*	height: 130px;*/
	height: 263px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}


div.pokemon {
	/*width: 200px;*/
	width: 188px;
	box-sizing: border-box;
	align-items: center;
	background: beige;
	/*background: beige url("img/cardback.jpg") no-repeat;*/
	border: 2px solid black;
	padding: 8px;
	border-radius: 10px;
}

div.pokemon a {
	display: block;
}

div.pokemon p {
text-align: center;
margin: 0;
}

div.pokemon-group {
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
}

div.pokemon-group h2 {
	width: 100%;
	text-align: center;
}

.Bug {
	background: forestgreen;
}

.Grass {
	background: lawngreen;
}

.Fire {
	background: firebrick;
}

.Water {
	background: darkblue;
}

.Electric {
	background: yellow;
}

.Dark {
	background: black;
}

.Normal {
	background: palegoldenrod;
}

.Poison {
	background: rebeccapurple;
}

.Ground {
	background: sandybrown;
}

.Fighting {
	background: indianred;
}

.Psychic {
	background: fuchsia;
}

.Rock {
	background: grey;
}

.Ghost {
	background: white;
}

.Dragon {
	background: darkgoldenrod;
}

.Steel {
	background: steelblue;
}

.None {
	background: white;
}

div.pokemon-group h2 {
	color:black;
}

div.pokemon-group.Dark h2 {
	color:white;
}
