header{
	background: slategray;
}

header img {
	text-align: center;
}


.pokeclass {
	background: skyblue;
	margin:0 auto;

}

div.pokeimage {
	height: 130px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}


div.pokemon {
width: 200px;
box-sizing: border-box;
align-items: center;
background: beige;
border: 2px solid black;
padding: 8px;
border-radius: 10px;
}

div.pokemon a {
	display: block;
}

div.pokemon p {
text-align: center;
margin: 0
}

div.pokemon-group {
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
}

div.pokemon-group h2 {
	width: 100%;
	text-align: center;
}

.Bug {
	background: forestgreen;
}

.Electric {
	background: yellow;
}

.Dark {
	background: black;
}

div.pokemon-group h2 {
	color:white;
}

.Fighting {
	background: indianred;
}