@font-face {
    font-family: "Christensen Caps";
    src: url(ChristensenCaps.ttf);
}
@font-face {
    font-family: "Bookerly";
    src: url(Bookerly-Bold.ttf);
}
@font-face {
    font-family: "Aniron";
    src: url(Anirb.ttf);
}
body {
    font: 13px "Aniron";
}
.nav {
    font: 14px "Aniron", arial;
 /*   border-bottom: solid 2px #cccccc;*/
    background-color:#262626;    
}
.nav:after {
    content: '';
    display: block;
    clear: both;
}
.nav, .nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}
.nav > li {
    float: left;
    position:relative;
}
.nav ul {
    position: absolute;
    left: -999em;
    background-color: #262626;
    border: solid 1px  white;
    border-top: none;
    width:100%;
    top: 100%;
    z-index: 10;
}
.nav li:hover ul {
    left: auto;
}
.nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}
.nav li:hover > a {
    color: #ff751a;
    text-decoration: none;
    display: block;
    background-color: #000a1a;
    transition: all .4s;
}
.main-header {
    text-align: center;
    color: #ff751a ;
    background-color: #262626 ;
}
.nav > .about-menu {
    float:right;
    list-style-type: none;
}
.homepage-background {
    background-color: #ffa366 ;
}
.nav li:hover > a {
    color: #ff751a;
    text-decoration: none;
    display: block;
}
.nav > li > a.active {
    background-color: #4d4d4d;
    color: white;
}
.nav > li > a.active:hover {
    background-color: #4d4d4d;
    color: #ff751a;
}
body {
    background-color: #f2f2f2;
}

.page-title {
    text-align: center;
    margin: 8px;
    display: block;
}
p {
    text-indent: 50px;
    font-family: "Bookerly", caecelia;
    font-size: 18px;

}
p.first-paragraph::first-letter {
    font-weight:bold;
    font: 100px "Christensen Caps";
}
.titlepage {
    text-align: center;
    display: block;
}
img.titlepageimage {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 400px;
    width:245px;
    text-indent: 50px;
}
ul, li {
    margin:0;
    padding:0;
    list-style: none;
}
p.titlepage {
    text-indent: 0;
}
p.signature {
    text-align: right;
}
p.text-break {
    text-align: center;
}
.fadeIn {
        opacity:0;
        animation:fadeIn ease-in 1;
        animation-fill-mode:forwards;
}
.fadeIn-3s {
        animation-duration:.75s;
}
.fadeIn-Delay-3s {
        animation-delay:.25s;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.centeredelements {
    text-align: center;
    display:block;
}
.centeredelements li{
    display:inline;
}
h1 {
    text-align: center;
}
img.listimage {
    width: 245px;
    height: 400px;
    transition: all .2s;
    border:8px solid black;
    margin: 15px;
    transform: translateY(0px);
}
img.listimage:hover {
    width:245px;
    height:400px;
    transform: translateY(20px);
    transition: all .2s;
}