@font-face {
    font-family: "Christensen Caps";
    src: url(ChristensenCaps.ttf);
}
@font-face {
    font-family: "Aniron";
    src: url(Anirb.ttf);
}
body {
    font: 12px "Aniron";
}
.nav {
    font: 14px "Aniron", arial;
    border-bottom: solid 2px #cccccc;
    background-color:#262626;    
}
.nav:after {
    content: '';
    display: block;
    clear: both;
}
.nav, .nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}
.nav > li {
    float: left;
    border:solid 1px black;
    padding-bottom: 5px;
}
.nav ul {
    position: absolute;
    left: -999em;
    background-color: #262626;
    border: solid 1px  white;
    width:160px;
}
.nav li:hover ul {
    left: auto;
}
.nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}
.nav li:hover > a {
    color: #ff751a;
    text-decoration: none;
    display: block;
    background-color: #000a1a;
    transition: all .4s;
}
.main-header {
    text-align: center;
    color: #ff751a ;
    background-color: #262626 ;
}
.nav > .about-menu {
    float:right;
    list-style-type: none;
}
.homepage-background {
    background-color: #ffa366 ;
}
.nav li:hover > a {
    color: #ff751a;
    text-decoration: none;
    display: block;
}
.nav > li > a.active {
    background-color: #4d4d4d;
    color: white;
}
.nav > li > a.active:hover {
    background-color: #4d4d4d;
    color: #ff751a;
}
body {
    background-color: #f2f2f2;
}

/*.previous-nav-menu li {
    float: left;
}
.previous-nav-menu a {
    display: block;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}
ul.previous-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}
*/
.page-title {
    text-align: center;
    margin: 8px;
}
p {
    text-indent: 50px;
}
p.first-paragraph::first-letter {
    font-weight:bold;
    font: 100px "Christensen Caps";
}
